@charset "utf-8";

body{
    background: rgb(78, 78, 248);
    font: normal 15pt arial;
}
header{
    color: white;
    text-align: center;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 80vw;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.658);
}
div{
    text-align: center;
    padding: 8px;
}
img{
    border-radius: 50px;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}